<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>REGISTER</h1>
    <div class="row">
        <div class="col-lg-5 m-auto">
            <div class="card mt-5 bg-dark">
                <div class="card-title text-center mt-3">

                </div>
                <div class="card-body">
                    <form [formGroup]="registerform" (ngSubmit)="register()">
                        <div class=" input-group mb-3">

                            <input type="text" class="form-control py-2" placeholder="accountnumber" name="acno"
                                formControlName="acno"><br>
                               

                        </div>
                        <div  *ngIf="this.registerform.get('acno')?.errors &&(this.registerform.get('acno')?.touched ||this.registerform.get('acno')?.dirty) "class="error">INVALID ACNO</div>
                     <!-- ngif  Structuraldirectives -->
                      
                   
                            
                        <div class=" input-group mb-3">

                            <input type="text" class="form-control py-2" placeholder="password" name="pswd"
                                formControlName="pswd">

                        </div>
                        <div  *ngIf="this.registerform.get('pswd')?.errors &&(this.registerform.get('pswd')?.touched ||this.registerform.get('pswd')?.dirty) "class="error">invalid password</div>
                        <!-- <div *ngIf="(this.registerform.get('pswd')?.touched || this.registerform.get('pswd')?.dirty)&&(this.registerform.get('pswd')?.errors)" class="error">Invalid password</div> -->
                        <div class=" input-group mb-3">

                            <input type="text" class="form-control py-2" placeholder="username" name="uname"
                                formControlName="uname">

                        </div>
                        <div  *ngIf="this.registerform.get('uname')?.errors &&(this.registerform.get('uname')?.touched ||this.registerform.get('uname')?.dirty) "class="error">Invalid username</div>
                        <!-- <div *ngIf="(this.registerform.get('uname')?.touched || this.registerform.get('uname')?.dirty)&&(this.registerform.get('uname')?.errors)" class="error">Invalid username</div> -->






                        <button type="submit">REGISTER NOW</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

</html>